# Ignore all files...
*

# ...but track those with selected names
!*.cc
!*.tcc
!*.hh
!*.ipynb
!*.dat
!makefile
!README
!LICENCE
!.gitignore

# These files are needed by the random numner generator.
!Primes
!seed.in

# Include all directories, except some.
!*/
exercise-tools/
rng/
.ipynb_checkpoints
